<div class="container">
  <div class="">
    <h1 class="display-4 mt-1">
      Welcome
      <span id="username" style="color: var(--color-secondary)">
        {{ username }}
      </span>
    </h1>
    <hr class="my-3" />
    <p class="lead">Manage Your Passport Applications with Ease</p>
  </div>

  <!-- Dashboard Overview -->
  <div class="dashboard-section">
    <div class="row">
      <div class="col-lg-6 my-2">
        <div class="profile-card">
          <h3><i class="fas fa-user"></i> Profile Information</h3>
          <p><strong>Name:</strong> {{ profileName }}</p>
          <p><strong>Email:</strong> {{ profileEmail }}</p>
          <p><strong>Phone:</strong> {{ profilePhone }}</p>
          <button routerLink="/profile" class="btn">
            <i class="fas fa-edit me-2"></i> Edit Profile
          </button>
        </div>
      </div>
      <div class="col-lg-6 my-2"></div>
    </div>
  </div>

  <!-- Services Section -->
  <section id="services" class="my-4">
    <h2><p>Available Services</p></h2>
    <div class="row">
      <!-- Apply for New Passport -->
      <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="card">
          <div class="card-header text-center">
            <i class="fas fa-passport fa-2x"></i>
          </div>
          <div class="card-body">
            <h5><i class="fas fa-file-alt"></i> Apply for New Passport</h5>
            <p>Submit your application for a new passport.</p>
            <a
              routerLink="/user-home/new_pass"
              class="btn btn-primary w-75 mt-3"
              ><i class="fas fa-clipboard-check me-2"></i> Apply</a
            >
          </div>
        </div>
      </div>

      <!-- Renew Passport -->
      <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="card">
          <div class="card-header text-center">
            <i class="fas fa-sync-alt fa-2x"></i>
          </div>
          <div class="card-body">
            <h5><i class="fas fa-file-alt"></i> Renew Passport</h5>
            <p>Renew your existing passport.</p>
            <a
              routerLink="/user-home/renewal_passport"
              class="btn btn-primary w-75 mt-3"
              ><i class="fas fa-clipboard-check me-2"></i> Renew</a
            >
          </div>
        </div>
      </div>

      <!-- Track Status/History -->
      <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="card">
          <div class="card-header text-center">
            <i class="fas fa-history fa-2x"></i>
          </div>
          <div class="card-body">
            <h5><i class="fas fa-file-alt"></i> Track Status / History</h5>
            <p>Check the status of your application or view history.</p>
            <a
              routerLink="/user-home/history"
              class="btn btn-primary w-75 mt-3 "
              ><i class="fas fa-clipboard-check me-2"></i> Track</a
            >
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<app-footer></app-footer>
